# Hi :)

----

In [1]:
import pandas as pd

In [5]:
dataset= pd.read_excel('Datasets/Data.xlsx')

In [7]:
dataset.head()

   Sensor 1  Sensor 2  Sensor 3  Real data
0  1.290892  1.233738  0.804856    1.20000
1  1.258611  0.693333  1.345625    1.08000
2  0.885958  0.924730  0.924650    0.97200
3  1.289685  1.244266  0.971379    0.87480
4  0.862174  0.822418  0.761150    0.78732